DATABASE_URL="file:./dev.db"
JWT_SECRET="your-secret-key-here"
ADMIN_EMAIL="admin@pixelforge.studio"
ADMIN_PASSWORD="PixelForge2026!"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
EMAIL_SERVER=""
EMAIL_FROM=""
ADMIN_NOTIFICATION_EMAIL=""
